<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
      [selectedProduct]="currentProduct$ | async"
      [products]="products$ | async"
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      (checkChanged)="toggleProductCode($event)"
      (productInitializated)="initializeCurrentProduct()"
      (productSelected)="setCurrentProduct($event)"
    ></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
      [product]="currentProduct$ | async"
      (currentProductCleared)="clearCurrentProduct()"
      (productCreated)="createProduct($event)"
      (productUpdated)="updateProduct($event)"
      (productDeleted)="deleteProduct($event)"
    ></pm-product-edit>
  </div>
</div>
